body {

}

.container {
    box-sizing: border-box;
    background-color: black;
    width: 425px;
    height: 346px;
    /*padding: 14px 12px;*/
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
}

.area {
    width: calc (425px - 12px - 12px);
    height: calc (336px - 14px - 14px);
   /* box-sizing: border-box;*/
    background-color: #410e9e;
    color: white;
    padding-left: 35px;
    padding-right: 80px;
    font-family: 'Poppins', sans-serif;
    border-radius: 16px;
    /*margin-top: 14px;
    margin-bottom: 14px;*/
}

.top {
    padding-top: 37px;
    font-size: 18px;
    font-weight: 500;
}

.cost {
    font-size: 18px;
    font-weight: 500;
}

span {
    font-size: 38px;
    font-weight: 600;
}

.info {
    margin-top: 0px;
    font-size: 15px;
}

button {
    padding-top: 26px;
    border: 1px solid #7355b9;
    background-color: #410e9e;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 15px;
    margin-bottom: 20px;
}
/*
.backgroundimage {
    width: 425px;
    height: 346px;
    background-image: url(/img/simple-interface.09.png);
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
    box-sizing: border-box;
}*/