body {
}

.container {
    background-color: black;
    width: 850px;
    height: 692px;
    padding: 25px 25px;
}

.area {
    background-color: #410e9e;
    color: white;
    padding-left: 73px;
    padding-right: 165px;
}

.top {
    font-size: 2rem;
}

.cost {
    font-size: 3rem;
}

.info {
    font-size: 1rem;
}

button {
    border: 1px solid #7355b9;
    background-color: #410e9e;
    color: white;

}